@import "../../styles/variables";
@import "../../styles/mixins";

.investment-ideas-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 100%;

  h2 {
    color: $color-primary;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .investment-ideas-table {
    width: 90%;
    overflow-x: auto;
    border-radius: 20px;
    box-shadow: 0px 4px 10px $color-primary;

    table {
      width: 100%;
      border-collapse: collapse;

      thead {
        tr {
          background-color: $color-secondary;
          color: white;

          th {
            padding: 1rem;
            text-align: center;
            font-size: 0.9rem;

            @include respond-to(tablet) {
              font-size: 1rem;
              text-align: center;
            }
          }
        }
      }

      tbody {
        tr {
          &:nth-child(even) {
            background-color: lighten($color-background, 10%);
          }

          td {
            padding: 1rem;
            text-align: left;
            font-size: 0.9rem;
            border-top: 1px solid $color-primary;

            @include respond-to(tablet) {
              font-size: 1rem;
              text-align: center;
              border: solid 1px $color-grids;
            }
          }

          .add-button {
            font-family: "Orbitron", sans-serif;
            font-size: 14px;
            background-color: $color-primary;
            border: solid $color-secondary;
            border-radius: 10px;
            padding: 0.5rem 2rem;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-bottom: 0.5rem;

            &:hover {
              background-color: lighten($color-primary, 10%);
              transform: scale(1.1);
            }

            &:disabled {
              background-color: lighten($color-primary, 20%);
              cursor: not-allowed;
            }
          }
          .replace-button {
            font-family: "Orbitron", sans-serif;
            font-size: 14px;
            background-color: $color-negative;
            border: solid red;
            border-radius: 10px;
            padding: 0.5rem 2rem;
            cursor: pointer;
            transition: background-color 0.3s ease;
            color: white;

            &:hover {
              background-color: lighten($color-primary, 10%);
              transform: scale(1.1);
            }

            &:disabled {
              background-color: lighten($color-primary, 20%);
              cursor: not-allowed;
            }
          }
        }
      }
    }
  }

  .error-message {
    color: $color-accent;
    margin-top: 1rem;
  }
}
