@import "../../styles/variables";
@import "../../styles/mixins";

// New darker color slightly lighter than the background color
$color-dark: darken($color-background, 10%);

.investment-ideas-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 100%;

  h2 {
    color: $color-primary;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .investment-ideas-table {
    width: 90%;
    overflow-x: auto;
    border-radius: 20px;
    box-shadow: 0px 4px 10px $color-primary;

    table {
      width: 100%;
      border-collapse: collapse; // Ensure borders collapse for a cleaner look

      thead {
        tr {
          background-color: $color-secondary;
          color: white;

          th {
            padding: 1rem;
            text-align: center;
            font-size: 0.9rem;
            border: 1px solid $color-grids; 

            @include respond-to(tablet) {
              font-size: 1rem;
              text-align: center;
            }
          }
        }
      }

      tbody {
        tr {
          &:nth-child(even) {
            background-color: lighten($color-background, 10%);
          }

          &:nth-child(odd) {
            background-color: $color-dark; 
          }

          td {
            padding: 1rem;
            text-align: left;
            font-size: 0.9rem;
            border: 1px solid $color-grids; 

            @include respond-to(tablet) {
              font-size: 1rem;
              text-align: center;
            }
          }

          // Styling for buttons within the table cells
          .add-button,
          .replace-button {
            font-family: "Orbitron", sans-serif;
            font-size: 12px;
            padding: 0.5rem 2rem;
            cursor: pointer;
            transition: background-color 0.3s ease;

            @include respond-to(tablet) {
              font-size: 14px;
            }
          }

          .add-button {
            background-color: $color-primary;
            border: solid $color-secondary 2px;
            border-radius: 10px;

            &:hover {
              background-color: darken($color-primary, 10%);
              transform: scale(1.1);
            }
          }

          .replace-button {
            background-color: $color-negative;
            border: solid red 2px;
            border-radius: 10px;
            color: white;

            &:hover {
              background-color: darken($color-negative, 10%);
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }

  .error-message {
    color: $color-accent;
    margin-top: 1rem;
  }
}
