@import "../../styles/variables";
@import "../../styles/mixins";

.investment-ideas-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 80%;

  h2 {
    color: $color-primary;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  &__disclaimer {
    padding: 2rem 3rem;
    font-size: 0.9rem;
    color: #666;
    text-align: center;
  }

  .investment-ideas-table {
    width: 100%; // Match the width of the container to maintain consistent alignment
    overflow-x: auto;
    border-radius: 20px;
    box-shadow: 0px 4px 10px $color-primary;

    table {
      width: 100%;
      border-collapse: collapse;

      thead {
        tr {
          background-color: $color-secondary;
          color: white;

          th {
            padding: 1rem;
            text-align: center;
            font-size: 0.9rem;
            border: 1px solid $color-grids;

            @include respond-to(tablet) {
              font-size: 1rem;
            }
          }
        }
      }

      tbody {
        tr {
          &:nth-child(even) {
            background-color: lighten($color-background, 10%);
          }

          &:nth-child(odd) {
            background-color: $color-background;
          }

          td {
            padding: 1rem;
            text-align: left;
            font-size: 0.9rem;
            border: 1px solid $color-grids;

            @include respond-to(tablet) {
              font-size: 1rem;
              text-align: center;
            }
          }

          .add-button,
          .replace-button {
            font-family: "Orbitron", sans-serif;
            font-size: 12px;
            padding: 0.5rem 2rem;
            cursor: pointer;
            transition: background-color 0.3s ease;

            @include respond-to(tablet) {
              font-size: 14px;
            }
          }

          .add-button {
            background-color: $color-primary;
            border: solid $color-secondary 2px;
            border-radius: 10px;

            &:hover {
              background-color: darken($color-primary, 10%);
              transform: scale(1.1);
            }
          }

          .replace-button {
            background-color: $color-negative;
            border: solid red 2px;
            border-radius: 10px;
            color: white;

            &:hover {
              background-color: darken($color-negative, 10%);
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }

  .error-message {
    color: $color-accent;
    margin-top: 1rem;
  }

  &__success-popup {
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $color-primary;
    color: $color-background;
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    animation: slideIn 0.5s ease-out forwards,
      fadeOut 1.5s 1.5s ease-out forwards;
    z-index: 100;

    @include respond-to(tablet) {
      font-size: 1rem;
    }
  }

  @keyframes slideIn {
    0% {
      top: -100px;
      opacity: 0;
    }
    100% {
      top: 50%;
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
