@import "../../styles/variables";
@import "../../styles/mixins";

.stages-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  font-family: "Orbitron", sans-serif;

  &:hover {
    transform: scale(1.1);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
    transform: none;
  }

  &--primary {
    background-color: $color-primary;
    color: $color-background;
    border: solid $color-secondary;
    border-radius: 20px;
    padding: 1rem 1rem;

    &:hover {
      background-color: lighten($color-primary, 5%);
    }
  }

  &--negative {
    background-color: $color-negative;
    border: 2px solid red;
    color: white;

    &:hover {
      background-color: darken($color-negative, 10%);
    }
  }

  &--secondary {
    background-color: $color-secondary;
    color: $color-background;

    &:hover {
      background-color: lighten($color-secondary, 5%);
    }
  }

  &--back {
    background-color: $color-background;
    border: solid $color-primary;
    color: #fff;
    border-radius: 20px;
    padding: 0.5rem 1rem;

    &:hover {
      background-color: darken($color-primary, 70%);
      transform: scale(1.1);
    }
  }
}
