@import "../../styles/variables";
@import "../../styles/mixins";

.macro-trend-input-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  @include respond-to(tablet) {
    padding: 2rem;
  }

  &__stages {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 2rem;
    width: 100%;

    @include respond-to(tablet) {
      flex-direction: row; // Adjust to row for larger screens
      justify-content: space-between;
      width: 80%;
      gap: 2rem;
    }
  }

  &__stage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    border-radius: 10px;
    border: solid $color-primary;
    transition: background-color 0.3s ease;

    @include respond-to(tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0.5rem;
      border-radius: 10px;
      border: solid $color-primary;
      transition: background-color 0.3s ease;
    }

    &--active {
      background-color: $color-secondary;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }

  &__stage-number {
    font-size: 1.5rem; // Smaller font size for mobile
    font-weight: bold;
    color: $color-primary;

    @include respond-to(tablet) {
      font-size: 2rem; // Increase font size for larger screens
    }

    &--active {
      color: $color-text;
    }
  }

  &__stage-text {
    margin-top: 0.5rem;
    font-size: 0.9rem; // Smaller font size for mobile
    color: $color-text;
    text-align: center;

    @include respond-to(tablet) {
      font-size: 1rem; // Increase font size for larger screens
    }

    &--active {
      color: $color-text;
      font-weight: bold;
    }
  }
}
