@import "../../styles/variables";
@import "../../styles/mixins";

.impact-assessment-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;

  &__table {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    border: 1px solid $color-secondary;
    border-radius: 10px;
    overflow-x: auto;
  }

  &__header {
    display: flex;
    width: 100%;
    background-color: $color-secondary;
    color: white;
    padding: 1rem;

    &--cell {
      flex: 1;
      text-align: left;
      padding: 0.5rem;
      font-weight: bold;

      &:first-child {
        flex: 1.5; // Asset class name gets a bit more space
      }
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    width: 100%;
    border-top: 1px solid $color-primary;

    &:nth-child(even) {
      background-color: lighten($color-background, 10%);
    }
  }

  &__cell {
    flex: 1;
    text-align: left;
    padding: 0.5rem;

    &--asset-class {
      flex: 1.5; // Asset class column is wider
      font-weight: bold;
    }

    &--impact {
      flex: 1;
    }
  }

  // Tablet and larger screens
  @include respond-to(tablet) {
    &__header,
    &__row {
      padding: 1rem;
    }

    &__header--cell {
      padding: 1rem;
    }

    &__cell {
      padding: 1rem;
    }
  }
}
