.portfolio-page {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
}
.portfolio-page__theme-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}
.portfolio-page__theme-container--theme {
  background-color: #ffc857;
  color: #121212;
  padding: 0.25rem 0.75rem;
  border: solid orange;
  border-radius: 20px;
  font-size: small;
  text-align: center;
}
@media (min-width: 768px) {
  .portfolio-page__theme-container--theme {
    font-size: small;
  }
}
.portfolio-page__title {
  color: #c3f564;
  margin-bottom: 1.5rem;
  text-align: center;
}
.portfolio-page__error-message {
  color: #ffc857;
  margin-top: 1rem;
  text-align: center;
}
.portfolio-page__success-message {
  color: #e5e5e5;
  margin-top: 1rem;
  text-align: center;
}
.portfolio-page__success-popup {
  position: fixed;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #c3f564;
  color: #121212;
  padding: 1rem 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.5s ease-out forwards, fadeOut 1.5s 1.5s ease-out forwards;
  z-index: 100;
}
@media (min-width: 768px) {
  .portfolio-page__success-popup {
    font-size: 1rem;
  }
}
.portfolio-page__empty-message {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.2rem;
  color: #e5e5e5;
}
.portfolio-page__empty-message .portfolio-page__cta-button {
  margin-top: 1rem;
  padding: 10px 20px;
  background-color: #c3f564;
  color: #121212;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Orbitron", sans-serif;
  transition: background-color 0.3s, transform 0.3s;
}
.portfolio-page__empty-message .portfolio-page__cta-button:hover {
  background-color: #d6f894;
  transform: scale(1.05);
}
.portfolio-page__table {
  width: 80%;
  margin-top: 3rem;
  overflow-x: auto;
  border-radius: 20px;
  box-shadow: 0px 4px 10px #c3f564;
}
.portfolio-page__table-element {
  width: 100%;
  border-collapse: collapse;
}
.portfolio-page__table-element thead tr {
  background-color: #4b7f52;
  color: white;
}
.portfolio-page__table-element thead tr th {
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
  border: 1px solid #3b483b;
}
@media (min-width: 768px) {
  .portfolio-page__table-element thead tr th {
    font-size: 1rem;
  }
}
.portfolio-page__table-element tbody tr:nth-child(even) {
  background-color: #2c2c2c;
}
.portfolio-page__table-element tbody tr:nth-child(odd) {
  background-color: #121212;
}
.portfolio-page__table-element tbody tr td {
  padding: 1rem;
  text-align: left;
  font-size: 0.9rem;
  border: 1px solid #3b483b;
}
@media (min-width: 768px) {
  .portfolio-page__table-element tbody tr td {
    font-size: 1rem;
    text-align: center;
  }
}
.portfolio-page__cta-button {
  margin-top: 1.5rem;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #c3f564;
  color: #121212;
  font-family: "Orbitron", sans-serif;
  transition: background-color 0.3s, transform 0.3s;
}
.portfolio-page__cta-button:hover {
  background-color: #ccf77c;
  transform: scale(1.1);
}
.portfolio-page__back-button {
  margin-top: 1rem;
}
.portfolio-page__back-button button {
  font-family: "Orbitron", sans-serif;
  background-color: #121212;
  border: solid #c3f564;
  padding: 0.5rem 1rem;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
}
.portfolio-page__back-button button:hover {
  background-color: black;
  transform: scale(1.1);
}

@keyframes slideIn {
  0% {
    top: -100px;
    opacity: 0;
  }
  100% {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}/*# sourceMappingURL=PortfolioPage.css.map */