@import "../../styles/variables";
@import "../../styles/mixins";
@import "../Buttons/Button.scss";
@import "../../styles/variables";
@import "../../styles/mixins";
@import "../Buttons/Button.scss";

.form-table-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  background-color: lighten($color-background, 2%);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(195, 245, 100, 0.5);

  &__header {
    display: none;
    @include respond-to(tablet) {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      &-cell {
        padding: 0.5rem 0.5rem;
        font-weight: bold;
        text-align: left;

        &--number {
          flex: 0 0 10%;
          max-width: 50px;

          text-align: center;
          // border: solid red;
        }

        &--theme {
          flex: 1;
          border-radius: 10px;
        }

        &--description {
          flex: 2;
          border-radius: 10px;
        }

        &-icon {
          margin-left: 0.5rem;
          vertical-align: middle;
        }
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }

  &__row {
    display: flex;
    flex-direction: row;
    padding: 2rem 0.5rem;
    border-bottom: 1px solid $color-primary;
    border-top: 1px solid $color-primary;
    gap: 0.5rem;

    &:nth-child(even) {
      background-color: lighten($color-background, 5%);
    }
  }

  &__cell {
    display: flex;
    padding: 0.5rem;
    background-color: lighten($color-background, 5%);
    border-radius: 10px;

    &--number {
      text-align: center;
      align-items: center;
      justify-content: center;
      flex: 0 0 10%;
      max-width: 70px;
      border: solid 0.5px $color-primary;
      background-color: $color-secondary;
    }

    &--theme {
      flex: 1;
      border: solid 0.5px $color-secondary;
      border-radius: 10px;
      padding: 1.2rem 0.2rem;
    }

    &--description {
      flex: 2;
      border: solid 0.5px $color-secondary;
      border-radius: 10px;
      padding: 0rem 0.2rem;
    }

    textarea {
      width: 100%;
      padding: 4rem 0.5rem;
      font-size: 1rem;
      border: none;
      outline: none;
      font-family: inherit;
      color: inherit;
      resize: vertical;
    }
  }

  @include respond-to(tablet) {
    width: 80%;
    padding: 2rem;

    &__header {
      flex-direction: row;
      padding: 1rem;

      justify-content: space-between;
      gap: 1rem;
    }

    &__row {
      flex-direction: row;
      padding: 1rem;
      justify-content: space-between;
      gap: 1rem;
    }

    &__body {
      gap: 1rem;
    }

    &__cell {
      padding: 1rem;

      &--number {
        flex: 0 0 5%; // Smaller on tablet/desktops
        max-width: 50px; // Limits how large it can grow
      }

      &--theme {
        flex: 1 0 20%;
      }

      &--description {
        flex: 2 0 50%;
      }
    }
  }

  @include respond-to(desktop) {
    width: 80%;
    min-height: 60vh;

    &__header {
      padding: 0.2rem;
      gap: 2rem;
    }

    &__row {
      padding: 1rem;
    }
  }
}
